html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: "courier new";
    height: 100%;
}
#header {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}
#header-list {
    margin: auto;
    width: 100%;
}
#main-container {
    padding-top: 1%;
    margin: auto;
    width: 100%;
    height: 1900px;
}
#myName {
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
}
.align {
    text-align: center;
    padding-top: 1%;
    float: left;
    margin: auto;
    width: 33.33%;
    height: 1%;
}
/* above is basic page set up and header/list */

/* start of the summary text section */

#summary {
    display: table;
    margin: auto;
    margin-top: 50px;
    padding: 40px 40px 0 40px;
    height: 19%;
}
#summary h3 {
    text-align: center;
}
#summary-text {
    text-align: justify;
    margin: auto;
    width: 60%;
}
/* end of the summary text section */

/* start of work text */

#theFixed {
    background-color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.work-container {
    padding: 5px 20px 5px 20px;
    width: 100%;
    clear: both;
    height: 12%;
}
.company {
    display: inline-block;
    float: left;
    width: 13%
}
.aboutWork {
    text-align: justify;
    display: table;
    width: 75%;
    float: left;
}
.aboutWork h4 {
    text-align: center;
}
.workDate {
    display: inline-block;
    width: 11%;
    float: right;
}
.hover:hover {
    -webkit-box-shadow: 0 0 5px 2px #000;
    -moz-box-shadow: 0 0 5px 2px #000;
    box-shadow: 0 0 5px 2px #000;
    background: #ffffff;
    border: 1px solid #ababab;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#work-container {
    position: relative;
}
#list-center {
    padding: 0;
    margin: 0;
}
#list-center li {
    display: inline-block;
    list-style-type: none;
    width: 33%;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
/* end of work exp */

/* start of the footer */

#footer p {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
/* below are adjustments for printing and relative sizing */

@media print {
    #header {
        display: none;
    }
    #main-container a {
        display: none;
    }
}
/* start of adjustments for relative sizing */
@media screen and (max-width: 980px) {
    #summary-text {
        width: 90%;
    }
    #phone-display-remove a {
        display:none;
    }
    #lf-list {
        float:none;
        margin:auto;
        text-align: left;
    }
    .lf-topic {
        float:none;
    }
    #lf-container {
        display: inline;
        margin: auto;
    }
    .company {
        margin-top:60px;
        display: block;
        float: none;
        width: auto;
        text-align: center;
    }
    
    .workDate {
        margin-top:30px;
        display: block;
        float: none;
        width: auto;
        text-align: center;
    }
    .aboutWork {
        width: 100%;
        padding: 0 10px;
        font-size: 18px;
        text-align: inherit;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid;
    }
    .aboutWork h4 {
        text-align: center;
    }
    .aboutWork ul {
        margin: 0 34px;
        padding: 0;
    }
    .work-container {
        padding: 0;
    }
    #summary {
        padding-top: 54px;
        font-size: 18px;
    }
    #summary h3 {
        margin-top: 30px;
    }
    #summary-text p {
        text-align: center;
    }
    #list-center li {
        display: block;
        width: 100%;
    }
    .hover:hover {
        -webkit-box-shadow: 0 0 0px 0px #fff;
        -moz-box-shadow: 0 0 0px 0px #fff;
        box-shadow: 0 0 0px 0px #fff;
        background: #ffffff;
        border: 1px solid #fff;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        -khtml-border-radius: 0px;
        border-radius: 0px;
    }
    #list-center #home-center {
        display: none;
    }
}
/* below is a responsive for IE10 ref:
 * http://webdesign.tutsplus.com/articles/quick-tip-dont-forget-the-viewport-meta-tag--webdesign-5972

@viewport {
zoom:1.0;
width:device-width;
}

@viewport {
zoom:1.0;
width:extend-to-zoom;
}

@-ms-viewport {
width:extend-to-zoom;
zoom:1.0;
}
*/

#lf-list {
    text-align: center;
    margin:auto;
    float: left;
}
.lf-topic {
    float: left;
    margin: 0 35px 0 15px;
}
#lf-container {
    display: inline-block;
    margin: auto;
}
