html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: #2C2D2F;
    font-family: serif;
    width: 100%;
}
/* start main container playing looping viedo */
video#bgvid {
    position: fixed;
    top: 1px;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url("../img/meThumbsUp.jpg") no-repeat;
    background-size: cover;
}
/* end of main container playing looping video */

#header-container {
    background-color: rgba(44,45,47,0.3);
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

#header-logo {
    display: inline-block;
    margin: 15px 0 10px 30px;
}

#header-list-container {
    margin: 70px 50px 0 0;
    float: right;
}

.header-list {
    margin: 0 25px 0 25px;
    float: left;
}

.header-list a {
    text-decoration: none;
    font-family: inherit;
    font-size: 24px;
    color: #fff;
}

.header-list a:hover {
    color:#FE5607;
}

/* start scroll effect with header */

/* start of middle container css */

#middle-container {
    text-align:center;
    font-size: 60px;
    line-height: 50%;
    margin-top: 114px;
    width: 100%;
    height: 740px;
    color: #fff;
}

#middle-text {
    padding: 10% 0 0 0;
}

.rowOne {
    font-weight: normal;
    font-family: fantasy;
}

.rowTwo {
    font-weight: 600;
}

/* end of middle container css */

/* start of lower container css */

#lower-container {
    background-color: rgba(249,249,248, 0.9);
    padding-top: 185px;
    margin-top:32px;
    width: 100%;
    height:660px;
}

#lower-main-text {
    line-height: 205%;
    word-spacing: 10px;
    font-size: 45px;
    color: #444444;
    margin: auto;
    width: 95%;
}

.highLight {
    color: #FE5607;
}

#lower-main-text span {
    border-bottom: 1px solid #DEDEDE;
}

.bLeft-container {
    margin-left:5%;
    float:left;
    height:44%;
    width:59%;
}

.bLeft-container p {
    line-height: 205%;
    word-spacing: 5px;
    font-size: 30px;
    color: #444444;
    margin: auto;
    width: 90%;
}

#next {
    border-radius:5px;
    background-color:rgba(249,249,248, 0.4);
    font-family:Courier;
    margin-left:5%;
    font-size:18px;
    width:25%;
    height:18%;
}

#next:hover {
    background-color:rgb(254,86,7);
    color:#fff;
}

#prev {
    border-radius:5px;
    background-color:rgba(249,249,248, 0.4);
    font-family:Courier;
    margin-left:5%;
    font-size:18px;
    width:25%;
    height:18%;
}

#prev:hover {
    background-color:rgb(254,86,7);
    color:#fff;
}

#bRight-container {
    border:1px solid;
    margin:5px 60px 20px 0;
    float:right;
}


/* slider css start */
#frame {
    width: 350px;
    height: 200px;
    padding: 5px;
    border: 2px solid #FE5607;
}

#slider-container {
    width: 350px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.slider-img {
    position: absolute;
}

.slider-off {
    left: 380px;
}

.slider-back {
    left: -380px;
}

#slider-dots-container {
    text-align: center;
}

/* end of slider css */

#footer {
    clear:both;
    text-align:center;
    height:30px;
    width:100%;
    margin:auto;
}

/* end of lower container css */

.style-clean {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* above css is built for index page */

/* below css is built for contact page */
